APP_SECRET=crea_un_texto_largo_aleatorio
SUPABASE_URL=https://ncvfxdfoggrccicboxjn.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_IYJoxnSkIDqqFXlw3FMMog_3ft8itzt
SUPABASE_SECRET_KEY=sb_secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
